:root {
    --bs-primary: rgb(34, 54, 87);
    --bs-primary-rgb: 34, 54, 87;
}

#notificationBtn {
    z-index: 1002;
    position: fixed;
    top: 70px;
    right: 30px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}
#notificationBtn:hover {
    transform: scale(1.3);
    background-color: var(--bs-primary);
}
#notificationBar {
    position: fixed;
    top: 70px;
    right: 2px;
    width: 375px;
    height: 275px;
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1001;
    transition: all 0.3s ease-in-out;
    transform: scale(0.1);
    opacity: 0;
}
#notificationBar.show {
    display: block;
    transform: scale(1);
    opacity: 1;
}
#notificationHeader {
    background-color: var(--bs-primary);
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#notificationBody {
    height: 300px;
    overflow-y: auto;
    padding: 10px;
}
